@media screen and (max-width: 1100px){

    .maincontainer{
        margin: 3em;
       display: grid;
       justify-content: center;
       z-index: -1;
       background-color:#a7b3bb;
      clip-path: none;
        .gamecontainer{
            display: grid;
            background-color: #4694cc;
            
          
            height: 450px;
            width: 400px;
            justify-content:space-around;
            align-items: center;
            border-radius: 3px;
                text-align: center;
                    box-shadow: 0px 5px 10px 2px rgb(8, 49, 105);
                    margin-bottom: 5rem;
                   
                 
                   
            
            .scoreandlife{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
               
                gap: 15px;
                .life{
                    
                    background-color: #7e53db;
                    height: 50px;
                    width: 50px;
                    border-radius: 3px;
                    padding: .7rem;
                text-align: center;
                color: white;
                    box-shadow: 0px 2px 0px 0px rgb(59, 27, 72);
                    display: none;
                   
                   
                }
                .score{
                  background-color: #8a56f9;
                  color: white;
                    border-radius: 1px;
                    height: 50px;
                    width: 150px;
                    border-radius: 3px;
                    padding: .2rem;
                    text-align: center;
                        box-shadow: 0px 2px 0px 0px rgb(59, 27, 72);
                   
                       
                      
                      
                }
  
            }
            .gameboard{
                height: 250px;
                width: 350px;
                position: relative;
                background-color: white;
                margin: 1rem;
                border-radius: 1px;
                text-align: center;
                    box-shadow: 0px 3px 1px 0px rgb(41, 12, 41);
                    overflow: hidden;
                    
                   
                   
            }
  
            .fruitcatch{
                background-color: #3A86FF;
                text-align: center;
                width: 100px;
                height:40px;
                justify-self: center;
                
                border-radius: 3px;
                text-align: center;
                   
                    color: white;
                    clip-path: none;
                     
                    
                
            }
            .reset{
                color: white;
              width: 100px;
              height: 35px;
              padding-top: .4rem;
              border-radius: 3px;
              background-color: rgb(101, 182, 230);
              margin-bottom: 1rem;
              justify-self: center;
              text-align: center;
                  box-shadow: 0px 2px 2px 0px rgb(21, 49, 53);
                 
                
  
            }
            .alert{
           
              top: 10px;
                position: absolute;
                height: 100px;
                left: 80px;
                width: 100px;
                border-radius: 1px;
                background-color: #dd6060;
                box-shadow: 0px 2px 2px 0px rgb(24, 30, 31);
                display: none;
            }
        }
  
    }


    .boxshadow{
        justify-self: center;
       
      }

      
  //heart 
  .heartimage{
    width:10px;
    height: 10px;
    margin: 0 5px;
      }
    

    
}
